:root {
  --header-background: #7DE6C6;
  --body-background: #2E2F49;
  --header-title: #474971;
  --main-color: white;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:700');

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-color);
  font-family: 'Roboto', sans-serif;
}

.nav-header {
  display: flex;
  flex-direction: row;
  background-color: var(--header-background);
  /* position: fixed; */
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

@media (min-width: 600px) {
  .nav-header {
    display: flex;
    flex-direction: row;
    background-color: var(--header-background);
    /* position: fixed; */
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
}

.nav-header span {
  align-items: center;
  width: 35px;
  height: 35px;
  padding-left: 20px;
  margin-top: 10px;
  margin-right: 20px;
}

.nav-header .split {
  align-items: flex-end;
  height: 30px;
  margin-top: 20px;
  border-right: var(--header-title) 2px solid; 
}

.nav-header h3 {
  align-items: flex-start;
  height: 20px;
  padding-top: 15px;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 1.2em;
  color: var(--header-title)
}

.list-container {
  display: block;
  margin: 0 auto;
  width: 100%;
  background-color: var(--body-background);
}

@media (min-width: 600px) {
  .list-container {
    display: block;
    margin: 0 auto;
    width: 50%;
    background-color: var(--body-background);
  }
}

.list-item {
  padding: 0;
}

.list-row {
  display: flex;
  flex-direction: row;
  padding: 15px 20px 0;
  border-bottom: var(--main-color) 1.3px solid;
}

.list-row .pic{
  flex: 1;
}

.list-row .pic span img{
  display: inline-block;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  border: var(--main-color) 1px solid;
}

.list-row .description{
  flex: 3;
  color: var(--main-color);
}

@media (min-width: 600px) {
  .list-row .description{
    flex: 5;
    color: var(--main-color);
  }
}

.list-row .description h3{
  margin: 10px 0 0 0;
}

.list-row .description p{
  display: inline;
  margin: 5px 0 0 0;
  font-size: 0.8em;
}

.list-row .pay{
  flex: 1;
  align-content: center;
}

.list-row .pay button{
  border-radius: 30px;
  border: 0;
  height: 40px;
  width: 40px;
  margin: 10px 0 0 0;
  background-color: #95edd4;
  color: var(--body-background);
  font-size: 1.6em;
}

.list-row .pay span i .arrow {
  background-image: url('./../img/arrow-point-to-right.svg');
  height: 40px;
  width: 40px;
}

.list-row-cell {
  height: 75px;
}

