:root {
  --header-background: #7DE6C6;
  --body-background: #2E2F49;
  --dusk: #3c3e64;
  --dark: #1d1e2a;
  --header-title: #474971;
  --main-color: white;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:700');

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-color);
  font-family: 'Roboto', sans-serif;
}

.nav-header {
  display: flex;
  flex-direction: row;
  background-color: var(--header-background);
  /* position: fixed; */
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

@media (min-width: 768px) {
  .nav-header {
    display: flex;
    flex-direction: row;
    background-color: var(--header-background);
    position: fixed;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
}

.nav-header span {
  align-items: center;
  width: 35px;
  height: 35px;
  padding-left: 20px;
  margin-top: 21px;
  margin-right: 14px;
}

.nav-header .split {
  align-items: flex-end;
  height: 30px;
  margin-top: 20px;
  border-right: var(--header-title) 2px solid; 
}

.nav-header h3 {
  align-items: flex-start;
  height: 20px;
  padding-top: 15px;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 1.2em;
  color: var(--header-title)
}

.header {
  display: flex;
  flex-direction: row;
  background-color: var(--header-background);
  position: fixed;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

@media (min-width: 769px) {
  .header {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 0 auto;
    width: 50%;
    box-shadow: none;
    transition: 0.3s;
  }
}

.list-container {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding-top: 65px;
  background-image: linear-gradient(264deg, #3c3e64, #1d1e2a);
  background-image: linear-gradient(264deg, var(--dusk), var(--dark));
}

@media (min-width: 769px) {
  .list-container {
    display: block;
    margin: 0 auto;
    width: 50%;
    background-color: var(--body-background);
  }
}

.list-item {
  padding: 0;
}

.list-row {
  display: flex;
  flex-direction: row;
  padding: 15px 20px 0;
  border-bottom: var(--main-color) 1.3px solid;
}

.list-row .pic{
  flex: 1;
}

.list-row .pic span img{
  display: inline-block;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  border: var(--main-color) 1px solid;
}

.list-row .description{
  flex: 3;
  color: var(--main-color);
  padding-left: 14px;
  font-size:  0.85em;
  align-items: center;
}

@media (min-width: 768px) {
  .list-row .description{
    flex: 5;
    color: var(--main-color);
  }
}

.list-row .description h2{
  margin: 15px 0 0 0;
  font-size: 0.9em;
}

@media (min-width: 768px) {  
  .list-row .description h2{
    margin: 15px 0 0 0;
  }
}

.list-row .description p{
  display: inline;
  margin: 5px 0 0 0;
  font-size: 0.8em;
}

@media (min-width: 768px) {
  .list-row .description p{
    display: inline;
    margin: 5px 0 0 0;
    font-size: 1.3em;
  }
}

.list-row .pay{
  display: inline-block;
  margin: 0 0 0 0.45em;
}

@media (min-width: 769px) {
  .list-row .pay{
    flex: 4;
    align-items: center;
    display: inline-block;
  }
}

@media (min-width: 768px) and (max-width: 769px) {
  .list-row .pay{
    flex: 2;
    align-items: center;
    display: inline-block;
  }
}

.list-row .pay img{
  margin: 15px 0 0 0;
}

@media (min-width: 769px) {
  .list-row .pay img{
    padding-left: 12px;
  }    
}

@media (min-width: 768px) and (max-width: 769px) {
  .list-row .pay img{
    padding-left: 14px;
  } 
}

.list-row .pay a {
  text-decoration: none;
}

.list-row .pay .text-pagar{
  display: none;
  color: var(--main-color);
  font-size: 1.1em;
  margin: 0;
  padding: 0 0 0 10px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

@media (min-width: 768px) {
  .list-row .pay .text-pagar{
    display: table-caption;
    color: var(--main-color);
    padding: 10px 0 0 10px;
    font-weight: 700;
    font-size: 1.25em;
  }
}

.list-row .pay .arrow{
  color: var(--main-color);
  font-size: 1.8em;
  display: inline;
  margin: 0 0 0 11px;
}

@media (min-width: 768px) {
  .list-row .pay .arrow{
    color: var(--main-color);
    font-size: 1.8em;
    margin: 0px 0 24px 15px;
    display: inline;
  }
}

.list-row-cell {
  height: 75px;
}

