@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
:root {
  --display-modal: none;
}
.btn-close {
  color: #aaaaaa;
  font-size: 30px;
  text-decoration: none;
  position: absolute;
  right: 5px;
  top: 10px;
}

.btn-close:hover {
  color: #919191;
}

.modal:target:before {
  display: none;
}
.modal:before {
  display: none;
  content:"";
  background: rgba(0, 0, 0, 0.02);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.modal .modal-dialog {
  display: none;
  width: 440px;
  border-radius: 6px;
  background-color: #ffffff;
  margin-left: -200px;
  position: fixed;
  left: 50%;
  z-index: 11;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  top: 20%;
}
.modal:target .modal-dialog {
  top: -100%;
  -webkit-transform: translate(0, -500%);
  -ms-transform: translate(0, -500%);
  transform: translate(0, -500%);
}
.modal-body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
}

.modal-body .valor {
  text-align: center;
  margin-left: 30%;
}

.modal-body input {
  text-align: center;
  margin: 0 auto;
  border: none;
  height: 66px;
  font-size: 35px;
  color: #d8d8d8;
  width: 172px;
  border-bottom: #474971 1px solid;
  font-family: NunitoSans;
}

.modal-header, .modal-footer {
  padding: 1px 20px;
}

.modal-header {
  border-radius:  6px 6px 0 0;
  background-color: #474971;
  border-bottom: #eeeeee solid 1px;
}

.modal-header--title {
  display: inline;
}
.modal-header h2 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: #7de6c6;
}

.modal-header p {
  font-weight: 500;
  color: #ffffff;
}
.modal-footer {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  margin: 0 40px 0;
  border-top: #d8d8d8 solid 1px;
  text-align: center;
}

.modal-footer span {
  display: inline-flex;
  flex-wrap: wrap;
}

.modal-footer span img {
  height: 28px;
  margin-left: 55px;
  margin-top: 6px;
  width: 28px;
  float: right;
}

.modal-footer span .forma-pagamento {
  margin: 10px 0 0 12px;
  font-size: 14px;
  color: #474971;
}

.modal-footer span .cartao {
  position: absolute;
  margin-left: 95px;
  margin-top: 25px;
  font-size: 14px;
  font-weight: 700;
  color: #474971;
}

.modal-footer button {
  border: none;
  height: 35px;
  margin: 24px 0;
  border-radius: 24px;
  background-image: linear-gradient(to bottom, #b4f4e5, #7de6c6);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #474971;
}

.modal .list-row {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 15px 20px 0;
  margin: 0 auto;
  border-bottom: var(--main-color) 1.3px solid;
}

.modal .list-row .pic{
  flex: 1;
}

.modal .list-row .pic span img{
  display: inline-block;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  border: var(--main-color) 1px solid;
}

.modal .list-row .description{
  flex: 4;
  color: #474971;
  padding-left: 14px;
  font-size:  0.85em;
  align-items: center;
}

.modal .list-row .description h2{
  margin: 15px 0 0 0;
  font-size: 0.9em;
}

@media (min-width: 768px) {  
  .modal .list-row .description h2{
    margin: 5px 0 0 0;
    font-size: 1.6em;
  }
}

.modal .list-row .description p{
  display: inline;
  margin: 5px 0 0 0;
  font-size: 0.8em;
}

@media (min-width: 768px) {
  .modal .list-row .description p{
    display: inline;
    margin: 5px 0 0 0;
    font-size: 0.8em;
  }
}